# 忽略所有文件
*

# 不忽略 robot 文件夹
!robot/
!robot/**

# 不忽略 .gitignore 文件本身
!.gitignore

# 不忽略 README.md
!README.md

*.o
*.a
/skynet
/skynet.pid
3rd/lua/lua
3rd/lua/luac
3rd/lua/all
/cservice
/luaclib
*.so
*.dSYM
.DS_Store
.vscode